#root{height: inherit;}
body{background-color: inherit; margin: 8px;}
.token.plain-text{color: #fff;}
.sbdocs.sbdocs-li{list-style-type: disc;}
.story-title{
    color: #1EA7FD;
    border-bottom: solid 1px #1EA7FD;
    margin-bottom: 20px;
}
